<head>
  <style>
    html,
    body {
      min-height: 100%;
      padding: 0;
      margin: 0;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .col-container {
      display: flex; /* Make the container element behave like a table */
      width: 100%; /* Set full-width to expand the whole page */
      color: white;
      font-size: 48px;
    }

    .col {
      flex-grow: 1;
      text-align:center;
      vertical-align: middle;
      cursor: pointer;
      border: 1px white solid;
    }

    .true {
      background-color: olivedrab;
    }

    .false {
      background-color: maroon;
    }

    .number {
      background-color: darkslategrey;
      padding-top: 0.5%;
    }

    .numbers {
      min-height: 15%;
    }

    .boolean {
      min-height: 85%;
    }
  </style>
</head>
<body>
  <div class="col-container numbers">
    <a id="0" class="col number">
      0
    </a>
    <a id="1" class="col number">
      1
    </a>
    <a id="2" class="col number">
      2
    </a>
    <a id="3" class="col number">
      3
    </a>
    <a id="4" class="col number">
      4
    </a>
    <a id="5" class="col number">
      5
    </a>
    <a id="6" class="col number">
      6
    </a>
    <a id="7" class="col number">
      7
    </a>
    <a id="8" class="col number">
      8
    </a>
    <a id="9" class="col number">
      9
    </a>
    <a id="10" class="col number">
      10
    </a>
  </div>
  <div class="col-container boolean">
    <a id="ja" class="col true">
      Ja
    </a>
    <a id="nee" class="col false">
      Nee
    </a>
  </div>
</body>
<script>
  const speak = (message, pitch, rate) => {
    const msg = new SpeechSynthesisUtterance(message)
    msg.lang = 'nl-NL'
    msg.volume = 10
    msg.pitch = pitch
    msg.rate = rate
    window.speechSynthesis.speak(msg)
  }
  const click = (answer) => (ev) => {
    return speak(answer, Math.random() * 0.2 + 0.9, Math.random() * 0.4 + 0.6)
  }
  const ids = [
    '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', 'ja', 'nee'
  ]
  ids.forEach((id) => {
    document.getElementById(id).addEventListener('click', click(id))
  })
</script>
